.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

.main-column {
  flex: 1;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  justify-content: space-evenly;
  padding: 4px;
  border: solid 1px var(--bg-color-light);
  flex-direction: column;
  display: flex;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .main-column {
    margin: 5px;
  }
}

.main-column-section {
  display: flex;
  justify-content: center;
  flex-grow: 0;
}

.main-column-section>* {
  flex: 1;
  margin: 0px 2px 2px;
  justify-content: center;
}