:root {
  --bg-color: #121212;
  --bg-color-light: #242424;
  --white: white;
  --par-color: #9a9a9a;
  --pink: #FF59EC;
  --scale-increase: 1.2;
  --transition-speed: 0.2s;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: var(--white);
  margin: 0px;
  margin-bottom: 5px;
}

p {
  color: var(--par-color);
  margin: 0px;
  margin-bottom: 5px;
}

section {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--bg-color-light);
  margin-bottom: 10px;
}

body.dragging * {
  cursor: grabbing !important;
}

body.sliding * {
  user-select: none;
  cursor: ew-resize !important;
}

body.pointing * {
  user-select: none;
  cursor: pointer !important;
}

.enabled {
  color: var(--pink) !important;
}

.enabled-bg {
  background-color: var(--pink) !important;
}

.enabled-on-hold:active {
  background-color: var(--pink) !important;
}

.ignore-pointer {
  pointer-events: none;
}

.invisible {
  visibility: hidden;
}